@model UniversityManagementSystem.Models.Course

<h2>Create Course</h2>

<form asp-action="Create" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Credits"></label>
        <input asp-for="Credits" class="form-control" />
        <span asp-validation-for="Credits" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Save</button>

</form>

<br />

<a asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}