body{
font-family: Arial, sans-serif;
background:#f2efe7;
text-align:center;
padding:20px;
}

h1{
margin-bottom:20px;
}

.input-area{
margin-bottom:30px;
}

input{
padding:10px;
width:250px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px 15px;
margin-left:5px;
border:none;
background:#333;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#555;
}

#taskBoard{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.note{
width:150px;
height:150px;
padding:15px;

background:#fff8a6;

box-shadow:3px 3px 8px rgba(0,0,0,0.2);

display:flex;
align-items:center;
justify-content:center;
text-align:center;

font-weight:bold;

cursor:pointer;

transition:0.3s;
}

.note:nth-child(2n){
background:#ffd6e0;
}

.note:nth-child(3n){
background:#c8f7c5;
}

.note:nth-child(4n){
background:#cce5ff;
}

.note:hover{
transform:scale(1.05);
}

.done{
text-decoration:line-through;
opacity:0.6;
transform:rotate(-8deg);
}