@model EmployeeProjectManagementSystem.Models.Employee

<h2>Employee Details</h2>

<p><b>Name:</b> @Model.Name</p>

<p><b>Department:</b> @Model.Department?.Name</p>

<a href="/Employees/Index">Back</a>