<h2>Welcome to Student Portal</h2>

<ul>
    <li>
        <a asp-controller="Students" asp-action="Index">
            Students Page (Public)
        </a>
    </li>

    <li>
        <a asp-controller="Admin" asp-action="Dashboard">
            Admin Dashboard (Protected)
        </a>
    </li>
</ul>