@model EmployeeProjectManagementSystem.Models.Project

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Project</h2>

<form method="post">

    <div>
        <label>Project Title</label>
        <br />
        <input type="text" name="Title" required />
    </div>

    <br />

    <div>
        <label>Assign Employees</label>

        @foreach (var e in ViewBag.Employees)
        {
            <div>
                <input type="checkbox" name="employeeIds" value="@e.EmployeeId" />
                <label>@e.Name</label>
            </div>
        }

    </div>

    <br />

    <button type="submit">Create Project</button>

    <a href="/Projects/Index">Back to List</a>

</form>